* {
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100vw;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

.back1 {
    background-image: url(Images/Cuisinefraicheur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icone {
    width: 55vw;
    height: 30vh;
}

.images {
    width: 100%;
    height: 30vh;
}

.icone2 {
    width: 90vw;
    height: 30vh;
}

.padding {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#ferme {
    position:relative;
}

.hover {
    position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;
}

#ferme:hover .hover {
    opacity:0.5
}

#ferme a{
    color: var(--bs-body-color);
    border-color: #dee2e6;
}

.color-black-bold {
    color: black;
    font-weight: bold;
}

.border_groove {
    border: groove;
}
