* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
}

.margin {
    margin-left: 5%;
    margin-right: 5%;
}

.font-nautigal {
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
    font-size: xx-large;
}

.back-cover-image {
    background-image: url(Images/restauration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icone-min {
    width: 55vw;
    height: 30vh;
}

.images {
    width: 100%;
    height: 30vh;
}

.icone-max {
    width: 90vw;
    height: 30vh;
}

.padding {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.color-black-bold {
    color: black;
    font-weight: bold;
}

.bold-uppercase {
    font-weight: bold;
    text-transform: uppercase;
}

.color-white {
    color: white;
}

.b {
    border: groove;
}
