* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
}

.margin {
    margin-left: 5%;
    margin-right: 5%;
}

.font-nautigal {
    font-family: 'Finlandica', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.back-cover-image {
    background-image: url(Images/restauration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.back-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icone-min {
    width: 55vw;
    height: 30vh;
}

.images {
    width: 100%;
    height: 30vh;
}

.icone-max {
    width: 90vw;
    height: 30vh;
}

.padding {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.color-black-bold {
    color: black;
    font-weight: bold;
}

.bold-uppercase {
    font-weight: bold;
    text-transform: uppercase;
}

.color-white {
    color: white;
}

.b {
    border: groove;
}

.back-color-orange {
    background-color: #f05f40;
}

@media (min-width: 1024px) {
    .blocimages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "image1 image2 image3";
    }

    .icone-max {
        width: 35vw;
        height: 30vh;
    }

    .icone-min {
        width: 22vw;
        height: 30vh;
    }
}

@media (min-width: 1440px) {
    .flexwrap {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10vh;
    }

    .blocimages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "image1 image2 image3";
    }

    .flexwrap-center {
        display: flex;
        justify-content: center;
        
    }

    .icone-margin-left {
        margin-left: 10vh;
    }

    .icone-margin-right {
        margin-right: 10vh;
    }
}
